<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GWS" type="Honeywell.GWS.Connector.Configuration, Honeywell.GWS.Connector" />
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <GWS>
    <entryPoints>
      <add name="EntryPoint_Memory_Batch" lutPort="15001" odrPort="15002" odrError="15003" />
      <add name="EntryPoint_Memory_Continuous" lutPort="15004" odrPort="15005" odrError="15006" />
      <add name="EntryPoint_SqlServer_Batch" lutPort="15007" odrPort="15008" odrError="15009" />
      <add name="EntryPoint_SqlServer_Continuous" lutPort="15010" odrPort="15011" odrError="15012" />	 
      <add name="EntryPoint_Oracle_Batch" lutPort="15013" odrPort="15014" odrError="15015" />
      <add name="EntryPoint_Oracle_Continuous" lutPort="15016" odrPort="15017" odrError="15018" />
      <add name="EntryPoint_Files_Batch" lutPort="15019" odrPort="15020" odrError="15021" />
      <add name="EntryPoint_Files_Continuous" lutPort="15022" odrPort="15023" odrError="15024" />
    </entryPoints>
    <connectors>
      <add name="Connector_Memory_Batch" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Modules.InMemory.Batch.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking">
        <options>
          <add name="Log:Device" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
        </options>
      </add>
      <add name="Connector_Memory_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Modules.InMemory.Continuous.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking">
        <options>
          <add name="Log:Device" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
        </options>
      </add>
      <add name="Connector_SqlServer_Batch" type="Honeywell.GWS.Connector.Library.Workflows.Picking.SqlServer.Batch.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking.SqlServer">
        <options>
          <add name="Log:Device" value="true" />
          <add name="Log:Server" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
        </options>
      </add>
      <add name="Connector_SqlServer_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.SqlServer.Continuous.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking.SqlServer">
        <options>
          <add name="Log:Device" value="true" />
          <add name="Log:Server" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
        </options>
      </add>
      <add name="Connector_Oracle_Batch" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Oracle.Batch.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking.Oracle">
        <options>
          <add name="Log:Device" value="true" />
          <add name="Log:Server" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
        </options>
      </add>
      <add name="Connector_Oracle_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Oracle.Continuous.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking.Oracle">
        <options>
          <add name="Log:Device" value="true" />
          <add name="Log:Server" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
        </options>
      </add>
      <add name="Connector_Files_Batch" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Files.Batch.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking.Files">
        <options>
          <add name="Log:Device" value="true" />
          <add name="Log:Server" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
          <add name="File:Format" value="Json" />
        </options>
      </add>
      <add name="Connector_Files_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Files.Continuous.ServiceConnector, Honeywell.GWS.Connector.Library.Workflows.Picking.Files">
        <options>
          <add name="Log:Device" value="true" />
          <add name="Log:Server" value="true" />
          <add name="MenuOptions:Rest" value="WC|Rest" />
          <add name="File:Format" value="Json" />
        </options>
      </add>
    </connectors>
    <workflows>
      <add name="Picking_Memory_Batch" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_Memory_Batch" entryPointName="EntryPoint_Memory_Batch" server=""/>
      <add name="Picking_Memory_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_Memory_Continuous" entryPointName="EntryPoint_Memory_Continuous" server=""/>
      <add name="Picking_SqlServer_Batch"  type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_SqlServer_Batch" entryPointName="EntryPoint_SqlServer_Batch" server="Server=.\SQLExpress;Database=GWS-Workflows-Picking;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=false;"/>
      <add name="Picking_SqlServer_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_SqlServer_Continuous" entryPointName="EntryPoint_SqlServer_Continuous" server="Server=.\SQLExpress;Database=GWS-Workflows-Picking;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=false;"/>
      <add name="Picking_Oracle_Batch"  type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_Oracle_Batch" entryPointName="EntryPoint_Oracle_Batch" server="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=XE)));User Id=sys;Password=gws;DBA Privilege=SYSDBA;"/>
      <add name="Picking_Oracle_Continuous"  type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_Oracle_Continuous" entryPointName="EntryPoint_Oracle_Continuous" server="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=XE)));User Id=sys;Password=gws;DBA Privilege=SYSDBA;"/>
      <add name="Picking_Files_Batch" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_Files_Batch" entryPointName="EntryPoint_Files_Batch" server="Pruebas"/>
      <add name="Picking_Files_Continuous" type="Honeywell.GWS.Connector.Library.Workflows.Picking.Workflow, Honeywell.GWS.Connector.Library.Workflows.Picking" connector="Connector_Files_Continuous" entryPointName="EntryPoint_Files_Continuous" server="Pruebas"/>
    </workflows>
  </GWS>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="PagedList" />
      <add assembly="Honeywell.GWS.Connector.SDK" />
    </assemblies>
    <namespaces>
      <add namespace="PagedList" />
    </namespaces>
  </razor>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <!--<connectionStrings>
    <add name="GWSCache" connectionString="data source=localhost\sqlexpress;initial catalog=GWS-Cache;integrated security=True;MultipleActiveResultSets=True;App=GWS Connector" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>