{
	"Repositories": {
		"VIOConfig": {
			"WorkflowFilterChoice": "VIOPlugin",
			"SelectedPlugin": "GWS-Workflows - Picking (SqlServer Continuous)",
		},
		"GWS-Workflows - Picking (SqlServer Continuous)": {
			"Server": "Server=172.20.18.139,1433;Database=GWS-Workflows-Picking;User Id=gws;Password=gws;Encrypt=false",
			"Log:Device": true,
			"Log:Server": true,
			"MenuOptions:Rest": "WC|Rest",
		}
	}
}