{
	"Repositories": {
		"VIOConfig": {
			"WorkflowFilterChoice": "VIOPlugin",
			"SelectedPlugin": "GWS-Workflows - Picking (Oracle Continuous)",
		},
		"GWS-Workflows - Picking (Oracle Continuous)": {
			"Server": "Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.18.139)(PORT=1521)))(CONNECT_DATA=(SID=XE)));User Id=sys;Password=*jsv+;DBA Privilege=SYSDBA;",
			"Log:Device": true,
			"Log:Server": true,
			"MenuOptions:Rest": "WC|Rest",
		}
	}
}